*{
    padding: 0;
    margin: 0;
}
body{
    direction: rtl;
    position: relative;
    font-size: 1rem;
    font-weight: bold;
    color: #515151;
    align-items: center;
}
.box-counter{
    width: 400px;
    height: 300px;
    background-color: aquamarine;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.7);
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}
.btn-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 30%;
}
.btn-box button{
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
}